# Virtual environment
Web-Scraping/venv/

# ChromeDriver
Web-Scraping/chromedriver/

# Etkin Madde klasörü
Web-Scraping/etkin-madde/

Web-Scraping/config.ini
Web-Scraping/etkin_madde_verileri.csv
Web-Scraping/etkin_madde
Web-Scraping/etkin_madde-eski
Web-Scraping/ilaclar

# Laravel projesinde izlenmeyecek dosyalar
# .env dosyası (açıkça gizli bilgiler içerir)
.env

# Laravel derleme dosyaları ve geçici klasörler
/public/storage
/storage/*.key
/vendor/
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

#ML kısmı için
ML/ilac_oneri_model.joblib
ML/ilac_oneri_model.log
ML/03_05/ilac_oneri_model.joblib
ML/03_05/ilac_oneri_model.log
ML/improved_drug_recommender.joblib

# IDE veya editör ayar dosyaları
.idea/
.vscode/
.DS_Store
Thumbs.db


Mustafa_Toprak_projesi.pdf
Mustafa-Toprak_2209A_guncel.docx
Web-Scraping.zip